**/.git
**/.gitignore
**/.vscode
**/.vs
**/node_modules
**/dist
**/build
**/*.md
**/.env
**/.env.*
**/Dockerfile*
**/docker-compose*
**/.dockerignore
**/bin
**/obj
**/.terraform
**/*.tfstate
**/*.tfstate.*
LICENSE
README.md
